{
    "audio_model": "https://models.silero.ai/models/tts/en/v3_en.pt",
    "local_tts": "/tmp/tts.pt",
    "speaker": "en_67",
    "model_path": "ggml-vicuna-13b-4bit-rev1.bin",
    "automation_file": "./home-assistant/config/automations.yaml",
    "automation_name": "play-media-home",
    "token": "",
    "device_id": "",
    "threads": 6,
    "local_ip": "192.168.x.x"
    "media_file": "/config/media/speak{n}.wav"
}